body {
	font-family : "Arial", "Georgia", sans-serif;
	color : #8ED4E6;
background-color :  #4051B5 ;
background-image: url("http://selab.hanyang.ac.kr/courses/cse326/2015/labs/labResources/cse326bg.png");
	background-position : right top;
	background-attachment : fixed;
	background-repeat : no-repeat;
}

h2{
	font-size : 1.8em;
}

dl{
	font-size : 75%;
}

dl dt{
	font-weight : bold;
}

p:first-letter {
	font-size : 150%;
	font-weight : bold;
}

ins{
	color:#10FF10 ;
}

del{
	color: #FF3636 ;
}
h1{
	color:  #91D8C2 ;
}
h2{
	color:  #91D8C2 ;
}

dl{
	color :  #FDFD1B;
}

h1{
	text-align : center;
}

ins {
	text-decoration: none;
}

ins:hover{
	font-weight : bold;
}

strong{
	text-shadow : 2px 2px
}

table{
border-collapse : collapse;
}
table, td, th{
border : 2px solid #8ED4E6;;
}

caption{
	text-align : right;
}

tr:last-child{
    background-color : white;
}
ol{
	list-style-type: lower-greek;
}

img{
	width  : 300px;
	height : 300px;
}

a img{
	width : auto;
	height : auto;
}

